.header {
  background: #4e54c8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  display: flex;
  width: 100%;
  height: 20vh;
  align-items: flex-end;
}

.title h3 {
  font-size: 3rem;
  margin-bottom: 0rem;
}

.button {
  background: transparent;
  border: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.button__completed {
  font-size: 0.85rem;
  margin-left: 2rem;
  margin-bottom: 0.2rem;
  font-weight: bold;
}

.button__delete {
  font-size: 1.25rem;
  color: #484848;
  cursor: pointer;
}

.button--show {
  color: #fff;
}

.button--hide {
  color: yellow;
}

.button__add {
  font-size: 2rem;
  font-weight: lighter;
}

ul {
  list-style-type: none;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-name {
  margin: 0.3rem 2rem 0 2rem;
  transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
}

.task-name.completed {
  text-decoration: line-through;
  transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
}

.check {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 100px;
  background-color: #FFF;
  border: 2px solid rgb(110,	178,	33);
  box-shadow: 0px 0px 0px 0px rgb(110,	178,	33) inset;
  transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
  cursor: pointer;
}

.check::after {
  content: '';
  color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 4;
  position: absolute;
  transform: scale(0);
  background-size: 50%;
  background-image: url('./checkmark.svg');
  background-repeat: no-repeat;
  background-position: center;
  transition-delay: 0.1s !important;
  transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
}

.check.checked {
  background-color: rgb(110,	178,	33); 	
  transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
}

.check.checked::after {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.1s !important;
  transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
}

.input__add {
  border: none;
  height: 35px;
  font-size: 1rem;
  padding-left: 0.8rem;
  margin-left: 1rem;
  width: 100%;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}

.p-1 {
  padding: 1rem;
}